* {
    margin: 0;
    padding: 0px;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(images/smartwatch.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #b76954;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 30px;
}

.menu {
    float: left;
    height: 70px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    /* Display list items as inline blocks */
    margin-left: 20px;
    /* Adjust margin as needed */
    font-size: 15px;
    margin-left: 35px;
    margin-top: 43px;
}

ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-family: Arial;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

ul li a:hover {
    color: #b76954;
}

.search {
    width: 330px;
    float: right;
    /* margin-left: 270px; */
    margin-top: 20px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #b76954;
    margin-top: 13px;
    color: antiquewhite;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #b76954;
    border: 2px solid #b76954;
    margin-top: 13px;
    color: antiquewhite;
    font-size: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}
.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color:#b76954;
    position: relative;
    margin-top: 102px;
}

.content.par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 30px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    margin-bottom: 20px;
}