* {
    margin: 0;
    padding: 0px;
}
body{
    background-color: #b4b3b3;
}
.navigation{
    width: 100%;
   background:linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(images/smartwatch.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 75px;
    margin: auto;
    box-shadow: 0 2px 20px rgba(149, 145, 145, 0.915);
}

.form .icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #fd7e5b;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 20px;
    padding-right: 200px;
}

.menu {
    float: left;
    height: 70px;
}

ul {
    list-style: none;
    padding: 0;
}
ul li {
    display: inline-block;
    /* Display list items as inline blocks */
    margin-left: 20px;
    /* Adjust margin as needed */
    font-size: 15px;
    margin-left: 35px;
    margin-top: 30px;
}

ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #b76954;
}

ul li a i{
    font-size: 20px;
}

.search {
    width: 330px;
    float: right;
    /* margin-left: 270px; */
    margin-top: 10px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #b76954;
    margin-top: 13px;
    color: antiquewhite;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #b76954;
    border: 2px solid #b76954;
    margin-top: 13px;
    color: antiquewhite;
    font-size: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    margin-top: 172px;
    text-align: left;
}

.content.par {
    padding-left: 30px;
    padding-bottom: 25px;
    font-family: sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-left: 20px;
}

.content h1 {
    font-family: sans-serif;
    font-size: 40px;
    padding-left: 5px;
    margin-top: 9%;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
/*Join Us Button*/
.content .cn {
    width: 150px;
    height: 50px;
    background-color: #b76954;
    border: none;
    margin-bottom: 30px;
    font-size: 20px;
    border-radius: 1000px;
    cursor: pointer;
    margin-top: 30px;
}
.content .cn a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: rgba(250, 215, 215, 0.915);
}
/*login form*/
.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: 200px;
    left: 1000px;
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #b76954;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #b76954;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;

}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background-color: #b76954;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
    color: #b76954;
}

.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color:#fff
}

.form .link a {
    text-decoration: none;
    color: #b76954;

}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}

.editor {
    text-align: justify;
    margin-right: 459px;
}
.icon{
   margin-left: 10px;
}
.icon .fa-brands {
   padding-left:16px;
   align-items: center;
   color:#fff;
}
/* top picks section*/
.section-2{
	max-width: 80%;
	margin: auto;
	padding: 1cm;
}
.inner-container-2 h1{
    font-size: 50px;
    text-align: center;
    color: #b76954;
    font-family: sans-serif;
}
.cards-container{
    display: flex;
    margin-top: 2rem;
	width: 100%;

}
.cards{
    width: 100%;
}
form{
    width: 100%;
}
.card {
	min-width: 30%;
    min-height: 40vh;
	border-radius: 20px;
    margin: 20px;
	flex: 1;
	text-align: center;
	box-shadow:  3px 5px 6px #00000066;
    background-color: #fff;
}
.card h2{
	font-size: 20px;
    padding:10px;
}
.card h3{
	font-size: 25px;
    color: #b76954;
    padding-left: 10px;
}
.card-image{
	width: 90%;
    height: ;
	border-radius: 20px 20px 0 0;
}
.card-btn{
	padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
	background-color:#b76954;
	border: #b4b3b3;
	transition: 0.3s;
    font-weight: bold;
}
.card-btn:hover{
	background-color: #f9e4e4;
	color:#222;
}
.cards-container::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  }
  .cards-container::-webkit-scrollbar-thumb {
	background:#222;
	border-radius: 10px;
  }
  .cards-container::-webkit-scrollbar-track {
	background: transparent;
  }
  /* offer section*/
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0px;
    font-family: sans-serif;
    background-image: url(images/banner.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
}
#banner h2{
    color: #fff;
    font-size: 40px;
    padding: 10px 0;

}
span{
    color:#fd7e5b;
}
#banner button{
    font-size: 16px;
    font-weight: 60;
    padding: 15px 30px;
    color: #000;
    background-color: #b76954;
    border-radius: 4;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#banner button:hover{
    background: #f9e4e4;
    color: #000;
}
/* footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    font-family: sans-serif;
}
footer .col{
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}
footer h4{
    font-size: 20px;
    padding-bottom: 20px;
    color: #b76954;
}
footer p{
    font-size: 14px;
    margin: 0 0 8px 0 ;
}
footer a{
    font-size: 14px;
    margin: 0 0 8px 0 ;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
.follow .fa-brands{
    padding-right: 10px;
    font-size: 20px;
    margin-top: 10px;
}
/*customer review */
.review {
    width: 250px;
    position: relative;
    margin: auto;
    padding: 25px;
    align-items: center;
    margin-bottom: 40px;
}
.review h2 {
    width: 300px;
    font-family: sans-serif;
    text-align: center;
    color:#b76954;
    font-size: 35px;
}
.formgroup{
    align-items: center;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.formgroup label{
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 20px;
}
.formgroup .formcont{
    width: 400px;
    height: 30px;
    border: #fff;
  color: #000;
  font-family: sans-serif;
  background: transparent;
  border-bottom: 1px solid #b76954;
}
