* {
    margin: 0;
    padding: 0px;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(smartwatch.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.form .icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #b76954;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 30px;
}

.menu {
    float: left;
    height: 70px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    /* Display list items as inline blocks */
    margin-left: 20px;
    /* Adjust margin as needed */
    font-size: 15px;
    margin-left: 35px;
    margin-top: 43px;
}

ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-family: Arial;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

ul li a:hover {
    color: #b76954;
}

.search {
    width: 330px;
    float: right;
    /* margin-left: 270px; */
    margin-top: 20px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #b76954;
    margin-top: 13px;
    color: antiquewhite;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #b76954;
    border: 2px solid #b76954;
    margin-top: 13px;
    color: antiquewhite;
    font-size: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    margin-top: 102px;
}

.content.par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 30px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
/*Join Us Button*/
.content .cn {
    width: 105px;
    height: 40px;
    background-color: #b76954;
    border: none;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 1000px;
    cursor: pointer;
    margin-top: 30px;
}
/*Hover Effect*/
.content .cn a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: rgba(250, 215, 215, 0.915);
}

.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: 200px;
    left: 1000px;
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #b76954;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #b76954;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;

}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: #b76954;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
    color: #b76954;
}

.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color:#fff
}

.form .link a {
    text-decoration: none;
    color: #b76954;

}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}

.editor {
    text-align: justify;
    margin-right: 459px;
}
.icon{
margin-left: 10px;
}
.icon .fa-brands {
   padding-left:16px;
   align-items: center;
}
.fa-facebook{
    color:#fff;
}
.fa-instagram{
    color:#fff;
}
.fa-google{
    color:#fff;
}
.fa-linkedin{
    color:#fff;
}