*{
margin:0px;
padding: 0px;
}
.main{
    background-color: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(50, 47, 47, 0.5)50%);
}
h1{
    margin-top: 10px;
    text-align: center;
    color: linear-gradient(to top, rgba(43, 41, 41, 0.5)50%, rgba(0, 0, 0, 0.5)50%);
}