* {
    margin: 0;
    padding: 0px;
    font-family: sans-serif;

}
body{
background-color: #b4b3b3;
}
.navbar{
    width: 100%;
    background-color: #575757;
    height:80px;
    margin-bottom: 10px;
}
.logo {
    color: #fd7e5b;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 20px;
    padding-right: 200px;
}
.welcome{
    text-align: right;
    padding: 20px;
    font-family: sans-serif;
} 
.welcome a{
    color: antiquewhite;
    font-size: 20px;
    text-decoration: none;
   
}
.detail{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.admin a{
    font-size: 25px;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.buttons {
text-align: center;
}
.btnn {
    width: 240px;
    height: 40px;
    background: #b76954;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}
.btnn:hover {
    background: #fff;
}
.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}